body {
    background-color: #fff; 
    color: #000; 
}

.container {
    max-width: 800px;
    border: 2px solid #000; 
    padding: 20px;
    border-radius: 10px; 
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    background-color: rgba(255, 255, 255, 0.8);
}

.alert {
    background-color: #000; 
    color: #fff; 
}

a {
    color: #fff; 
}

a:hover {
    text-decoration: underline;
    color: blue;
}
.circular-button {
    width: 100px;
    height: 100px;
    background-color: #000;
    border: 2px solid #fff; 
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
}